- content_for :title do
  Rubygems
  \|
  Online courses, Learn anything, On your schecule

.jumbotron
  .display-4
    What do you want to learn today?
  .p-4
  - if current_user
    .form-inline
      = search_form_for @ransack_courses, as: :courses_search, url: :courses do |f|
        = f.search_field :title_cont, placeholder: 'Find a course', class: "form-control form-control-sm", style: 'float: left'
        %button.btn.btn-sm.btn-primary{:type => "submit"}
          .fa.fa-search{"aria-hidden" => "true"}
  /= form_tag courses_path, method: :get, class: "form-inline my-2 my-lg-0" do
  /  = text_field_tag(:title, params[:title], placeholder: "Search", class: "form-control")
  /  %button.btn.btn-primary.my-sm.my-sm-0{:type => "submit"}
  /    .fa.fa-search{"aria-hidden" => "true"}
.card-group
  .card.card-body
    %h1
      .fa.fa-graduation-cap
    = Course.count
    online courses
    .row
    Explore a variety of fresh topics
  .card.card-body
    %h1
      .fa.fa-chalkboard-teacher
      /.fa.fa-brain
    = Course.distinct.count(:user_id)
    expert instructors
    .row
    Find the right instructor for you
  .card.card-body
    %h1
      .fa.fa-user-graduate
    = User.count
    active learners
    .row
    Joing the knowledge sharing community
  .card.card-body
    %h1
      .fa.fa-infinity
    Lifetime access
    .row
    Learn from your schedule

- if current_user.present?
  %hr
  %h2
    .fa.fa-user-graduate
    Conitnue Learning
  .card-columns
    - @purchased_courses.each do |course|
      = render 'courses/course', course: course
%hr
%h2
  .fa.fa-chart-line
  Popular Courses
.card-columns
  - @popular.each do |course|
    = render 'courses/course', course: course
%hr
%h2
  .fa.fa-star
  Top Rated Courses
.card-columns
  - @top_rated.each do |course|
    = render 'courses/course', course: course
%hr
%h2
  .fa.fa-clock
  Latest courses
.card-columns
  - @latest.each do |course|
    = render 'courses/course', course: course
%hr
%h2
  .fa.fa-comment
  What our students have to say
.card-columns
  - @latest_good_reviews.each do |enrollment|
    = render 'enrollments/enrollment', enrollment: enrollment
