.card
  .card-header
    = comment.created_at.strftime('%d-%m-%Y %H:%M')
    = "(#{time_ago_in_words(comment.created_at)})"
    by
    = link_to comment.user, user_path(comment.user)
    = link_to 'Destroy', [@course, @lesson, comment], method: :delete, data: { confirm: "Are you sure"}, class: 'btn btn-danger btn-sm'
  .card-body
    = comment.content
