%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  = link_to "Rubygems", root_path, class: "navbar-brand font-weight-bold"
  - if current_user
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item{class: "#{'active font-weight-bold' if current_page?(root_path)}"}
          = link_to root_path, class: 'nav-link' do
            .fa.fa-home
            Home
        %li.nav-item{class: "#{'active font-weight-bold' if current_page?(courses_path)}"}
          = link_to courses_path, class: 'nav-link' do
            .fa.fa-graduation-cap
            Courses
        .form-inline
          = search_form_for @ransack_courses, as: :courses_search, url: :courses do |f|
            = f.search_field :title_cont, placeholder: 'Find a course', class: "form-control form-control-sm", style: 'float: left'
            %button.btn.btn-sm.btn-primary{:type => "submit"}
              .fa.fa-search{"aria-hidden" => "true"}
        /%li.nav-item{class: "#{'active font-weight-bold' if current_page?(new_course_path)}"}
        /  = link_to new_course_path, class: 'nav-link' do
        /    .fa.fa-plus
        /    New Course
        /%li.nav-item{class: "#{'active font-weight-bold' if current_page?(users_path)}"}
        /  = link_to users_path, class: 'nav-link' do
        /    .fa.fa-users
        /    Users
        /%li.nav-item{class: "#{'active font-weight-bold' if current_page?(enrollments_path)}"}
        /  = link_to enrollments_path, class: 'nav-link' do
        /    .fa.fa-lock-open
        /    Enrollments
        - if current_user.has_role?(:student)
          %li.nav-item.dropdown
            %a#studentDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              .fa.fa-graduation-cap
              Learn
            .dropdown-menu{"aria-labelledby" => "studentDropdown"}
              = link_to purchased_courses_path, class: "dropdown-item" do
                .fa.fa-graduation-cap
                Purchased courses
              = link_to pending_review_courses_path, class: "dropdown-item" do
                .fa.fa-star
                Pending review
        - if current_user.has_role?(:teacher)
          %li.nav-item.dropdown
            %a#teacherDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              .fa.fa-chalkboard-teacher
              Teach
            .dropdown-menu{"aria-labelledby" => "teacherDropdown"}
              = link_to new_course_path, class: "dropdown-item" do
                .fa.fa-plus
                .fa.fa-graduation-cap
                New course
              = link_to created_courses_path, class: "dropdown-item" do
                .fa.fa-graduation-cap
                Created courses
              = link_to my_students_enrollments_path, class: "dropdown-item" do
                .fa.fa-users
                My students
        - if current_user.has_role?(:admin)
          %li.nav-item.dropdown
            %a#adminDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              .fa.fa-cog
              Admin
            .dropdown-menu{"aria-labelledby" => "adminDropdown"}
              = link_to users_path, class: "dropdown-item" do
                .fa.fa-users
                Users
              = link_to enrollments_path, class: "dropdown-item" do
                .fa.fa-lock-open
                Enrollments
              = link_to activity_path, class: "dropdown-item" do
                .fa.fa-bell
                Activity
              /.dropdown-divider
              /%a.dropdown-item{:href => "#"} Something else here
      /Search Navbar by ransack
      %ul.navbar-nav.ml-auto
        /%li.nav-item{class: "#{'active font-weight-bold' if current_page?(activity_path)}"}
        /  = link_to activity_path, class: 'nav-link' do
        /    .fa.fa-bell
        /    Activity
        %li.nav-item.dropdown
          %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            .fa.fa-user
            = current_user
          .dropdown-menu{"aria-labelledby" => "navbarDropdown"}
            = link_to edit_user_registration_path, class: "dropdown-item" do
              .fa.fa-edit
              Edit your profile
            = link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do
              .fa.fa-power-off
              Log out
            .dropdown-divider
            %a.dropdown-item{:href => "#"} Something else here
  - else
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item
          = link_to new_user_session_path, class: 'nav-link' do
            .fa.fa-arrow-right
            Log In
        %li.nav-item
          = link_to new_user_registration_path, class: 'nav-link' do
            .fa.fa-user-plus
            Sign Up
